<div class="container">
  <div class="row">  
    <form class="form-inline">
      <div class="form-group">
        <input type = "text" class="form-control" placeholder="Search Game" id = "gameName" (keyup)="onKey($event)">
      </div>
      &nbsp;
      <button class= "btn btn-primary" (click)="openModal('custom-modal-1')">ADD New Game</button>
    </form> 
  </div>
  <br>
  <div class="row">
    <div class="panel panel-default col-xs-4" *ngFor="let game of gameResult; index as i;">
      <div class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <div class="panel-heading" width ="100%">
            <h5 class="mb-1" ><img src="{{game.url}}" alt="" width ="200" height="200"></h5>
          </div>
          <div class="panel-body">
            <!--<h5 class="mb-1" >{{ game.id}}</h5>--> 
            <h5 class="mb-1" >{{ game.name}}</h5> 
            <!--<h5 class="mb-1" >{{ game.content}}</h5>-->            
            <button class= "btn btn btn-success mb-1" (click)="openModal('custom-modal-2',i)" >Modify</button> 
            &nbsp;
            <button class= "btn btn-danger mb-1" (click)= "onDeleteVideoGame(i)" >Delete</button> 
            &nbsp;
            <button class= "btn btn-info mb-1" (click)="openModal('custom-modal-3',i)" >Info</button>           
          </div> 
        </div>
      </div>
    </div>
  </div>  
</div>

<jw-modal id="custom-modal-1">
  <div class="jw-modal">
      <div class="jw-modal-body">
        <fieldset class="form-group">
          <legend>Add New Videogame</legend>
          <label for = "newvideoGame" class="col-sm-2 col-form-label">Name</label>
          <input type = "text" class="form-control" placeholder="Insert Name of the Game" id = "newvideoGame" [(ngModel)]="newvideoGame">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <textarea class="form-control" id="description" rows="3" [(ngModel)]="description"></textarea>        
          <br>
          <input type="file" accept="image/*" (change)="onFileChanged($event)" >
        </fieldset> 
        <button class= "btn btn-primary" (click)= "onAddVideoGame('custom-modal-1')">Add</button>          
        &nbsp;
        <button class= "btn btn-dark" (click)="closeModal('custom-modal-1');">Close</button>
      </div>
  </div>
  <div class="jw-modal-background"></div>
</jw-modal>

<jw-modal id="custom-modal-2">
  <div class="jw-modal">
      <div class="jw-modal-body">         
        <fieldset class="form-group">
          <legend>Add New Videogame</legend>
          <label for = "newvideoGame" class="col-sm-2 col-form-label">Name</label>
          <input type = "text" class="form-control" placeholder="Insert Name of the Game" id = "newvideoGame" [(ngModel)]="newvideoGame">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <textarea class="form-control" id="description" rows="3" [(ngModel)]="description"></textarea>        
          <br>
          <input type="file" accept="image/*" (change)="onFileChanged($event)" >
        </fieldset>
        <button class= "btn btn-primary" (click)= "onModifyVideoGame('custom-modal-2')">Modify</button>          
        &nbsp;
        <button class= "btn btn-dark" (click)="closeModal('custom-modal-2')">Close</button>    
      </div>
  </div>
  <div class="jw-modal-background"></div>
</jw-modal>

<jw-modal id="custom-modal-3">
  <div class="jw-modal">
      <div class="jw-modal-body">         
        <fieldset class="form-group">
          <legend>{{newvideoGame}}</legend>    
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <textarea class="form-control" id="description" rows="3" [(ngModel)]="description" disabled></textarea>        
        </fieldset>
        <button class= "btn btn-dark" (click)="closeModal('custom-modal-3');">Close</button>    
      </div>
  </div>
  <div class="jw-modal-background"></div>
</jw-modal>